body {
    background-color: #f47142;
    *margin: 0 auto;
}

h1 {
    text-align: center;
}

.boardWrapper {
    display: grid;
    /*grid-template-rows: 80% 20%;*/
    margin: 0 auto;
    background-color: green;
    height: 500px;
    width: 360px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 14px 52px 4px rgba(0,0,0,0.77);
    -moz-box-shadow: 4px 14px 52px 4px rgba(0,0,0,0.77);
    box-shadow: 4px 14px 52px 4px rgba(0,0,0,0.77);
}

.timer, .gameSubmit, .bombCount, .markCount {
    display: grid;
    background: orange;
    height: 65px;
    width: 100px;
    border: 1px solid black;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat (9, 11.11%);
    grid-template: repeat(8, 12.5%);
    background-color: grey; 
    margin: 20px auto;
    height: 360px;
    width: 320px;
}

.playbox {
    /*display: grid;*/
    background-color: aqua;
    height: 40px;
    width: 40px;
    border: 1px solid red;
}

