body {
    font-family: 'Roboto', sans-serif;
    background-color: #f47142;
    *margin: 0 auto;
}

h1 {
    text-align: center;
}

button {
    font-size: 15px;
    background-color: navajowhite;
    margin-top: 15px;
    order: 3;
    width: 80px;
    height: 25px;
    grid-column-start: 4;
    grid-column-end: span 2;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
}

.boardWrapper {
    display: grid;
    margin: 0 auto;
    background-color: green;
    height: 550px;
    width: 360px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 14px 52px 4px rgba(0,0,0,0.77);
    -moz-box-shadow: 4px 14px 52px 4px rgba(0,0,0,0.77);
    box-shadow: 4px 14px 52px 4px rgba(0,0,0,0.77);
}

.timer, .gameSubmit, .bombCount, .markCount {
    text-align: center;
    line-height: 42px;
    display: grid;
    /*grid-column-start: 1;
    grid-column-end: span 2;
    grid-template-columns: 25% 25% 25% 25%;*/
    background: orange;
    height: 40px;
    width: 81px;
    -webkit-box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    /*border: 1px solid black;*/
}

.timer {
    grid-column-start: 1;
    grid-column-end: span 2;
    border-radius: 40px;
}

.gameSubmit {
    margin-top: -10px;
    margin-left: 10px;
    line-height: 60px;
    background-color: chartreuse;
    grid-column-start: 3;
    grid-column-end: span 2;
    border-radius: 40px;
    height: 60px;
    width: 60px;
}

.bombCount {
    grid-column-start: 5;
    grid-column-end: span 2;
   
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.markCount {
    grid-column-start: 7;
    grid-column-end: span 2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.spacer {
    background-color: green;
    order: 2;
    height: 30px;
    width: 330px;
    grid-column-start: 1;
    grid-column-end: span 8;
    z-index: -1;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 1f 10px 1f 1f 1f 1f 1f 1f 1f 1f 1f 1f;
    grid-template: repeat(8, 12.5%);
    background-color: green; 
    margin: 35px auto;
    height: 492px;
    width: 328px;
}

.playbox {
    /*display: grid;*/
    order: 3;
    background-color: aqua;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    box-shadow: 4px 14px 17px -7px rgba(0,0,0,0.51);
    /*border: 2px dotted aliceblue;*/
}

